<%- include('./partials/header'); -%>
    <h1>Home</h1>
    <p> <%= startingContent %></p>

    <% allPosts.forEach(function(allPost) { %>
    <h1><%= allPost.postTitle%></h1>
    <p><%= allPost.postBody.substring(0,100) + " ..."%>
    <a href="/posts/<%= allPost.postTitle%>">Read More</a>
    </p>
     <% }) %>
 
<%- include('./partials/footer'); -%>
